# OS-specific files
.DS_Store
.DS_Store?

# Python files
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Editors
*.swp
*.swo
.vscode/
.idea/

# Tags
tags

# Node dependencies
node_modules/

# Environment files
.env
.env.local
.env.*
